*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.limite-largura{
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

/* body::-webkit-scrollbar{
    background-color: rgb(228, 228, 229);
    width: 10px;
  }
  
body::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent 15%, green 15%, green 75%, transparent 0%);
    border-radius: 150px;
} */

